<section class="p-4 m-4 border rounded rounded-3" style="background-color: white;">
  <form [formGroup]="formInvoiceHeader">
    <div class="row d-flex justify-content-between align-items-end">
      <div class="col-md-5 d-flex flex-column">
        <div class="d-flex justify-content-center align-items-center border rounded"
          style="width: 200px; height: 150px; cursor: pointer; background-color: #eeeeee;">
          <span style="font-weight: 600; font-size: 16px; color: #9e9e9e;">Add your Logo</span>
        </div>
        <mat-form-field class="pt-2 w-75" appearance="fill">
          <mat-label>¿Who is this invoice from? (required)</mat-label>
          <input matInput formControlName="nameInvoiceFrom">
          <mat-error *ngIf="formInvoiceHeader.get('nameInvoiceFrom')?.errors">
            <span *ngIf="formInvoiceHeader.get('nameInvoiceFrom')?.errors?.['required']">El campo es requerido</span>
          </mat-error>
        </mat-form-field>
        <div class="row">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>¿Who is this invoice to? (required)</mat-label>
            <input matInput formControlName="billTo">
            <mat-error *ngIf="formInvoiceHeader.get('billTo')?.errors">
              <span *ngIf="formInvoiceHeader.get('billTo')?.errors?.['required']">El campo es requerido</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Enviar a (opcional)</mat-label>
            <input matInput formControlName="sendTo">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-end">
        <div class="d-flex flex-column justify-content-end">
          <h1 style="font-weight: 700; font-size: 2.75em; text-align: end;">FACTURA</h1>
          <div class="d-flex justify-content-end">
            <mat-form-field class="w-75 " appearance="fill">
              <mat-label>Número de factura</mat-label>
              <input matInput formControlName="invoiceNumber">
              <span matPrefix>#&nbsp;</span>
              <mat-error *ngIf="formInvoiceHeader.get('invoiceNumber')?.errors">
                <span *ngIf="formInvoiceHeader.get('invoiceNumber')?.errors?.['required']">El campo es requerido</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-end">
          <div class="row">
            <mat-form-field class="col-md-6" appearance="fill">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
              <mat-error *ngIf="formInvoiceHeader.get('date')?.errors">
                <span *ngIf="formInvoiceHeader.get('date')?.errors?.['required']">El campo es requerido</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="fill">
              <mat-label>Fecha de vencimiento</mat-label>
              <input matInput [matDatepicker]="dueDate" formControlName="dueDate">
              <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
              <mat-datepicker #dueDate></mat-datepicker>
              <mat-error *ngIf="formInvoiceHeader.get('dueDate')?.errors">
                <span *ngIf="formInvoiceHeader.get('dueDate')?.errors?.['required']">El campo es requerido</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-6" appearance="fill">
              <mat-label>Condiciones de pago</mat-label>
              <input matInput formControlName="conditionsPayment">
              <mat-error *ngIf="formInvoiceHeader.get('conditionsPayment')?.errors">
                <span *ngIf="formInvoiceHeader.get('conditionsPayment')?.errors?.['required']">El campo es requerido</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="fill">
              <mat-label>Orden de compra</mat-label>
              <input matInput formControlName="purchaseOrder">
              <mat-error *ngIf="formInvoiceHeader.get('purchaseOrder')?.errors">
                <span *ngIf="formInvoiceHeader.get('purchaseOrder')?.errors?.['required']">El campo es requerido</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>