<section class="p-4 mx-4 mb-2 border rounded rounded-3" style="background-color: white;">
  <form [formGroup]="formDetailsPayment">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-6 d-flex flex-column">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Notas</mat-label>
          <textarea matInput formControlName="notes" placeholder="Notes - any relevant information not alredy covered"
            style="resize: none;"></textarea>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Terminos</mat-label>
          <textarea matInput formControlName="terms"
            placeholder="Terms and conditions - late fees, payment methods, delivery schedule"
            style="resize: none;"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="row">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Subtotal</mat-label>
            <input matInput formControlName="subtotal">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Descuento</mat-label>
            <input type="number" matInput formControlName="discount">
            <span matPrefix>%&nbsp;</span>
          </mat-form-field>
        </div>
        <div *ngIf="formDetailsPayment.get('tax') || formDetailsPayment.get('shipment')" [@fadeInOnEnter]
          [@fadeOutOnLeave] class="row d-flex justify-content-end">
          <mat-form-field *ngIf="formDetailsPayment.get('tax')" [@fadeInOnEnter] [@fadeOutOnLeave] class="col-md-6"
            appearance="fill">
            <mat-label>Impuesto</mat-label>
            <input matInput formControlName="tax">
            <span matPrefix>%&nbsp;</span>
            <button type="button" (click)="showOrHideFieldTaxOrShipping(false, 'tax')" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field *ngIf="formDetailsPayment.get('shipment')" [@fadeInOnEnter] [@fadeOutOnLeave] class="col-md-6"
            appearance="fill">
            <mat-label>Envio</mat-label>
            <input matInput formControlName="shipment">
            <span matPrefix>$&nbsp;</span>
            <button type="button" (click)="showOrHideFieldTaxOrShipping(false, 'shipment')" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="!formDetailsPayment.get('tax') || !formDetailsPayment.get('shipment')" [@fadeInOnEnter]
          [@fadeOutOnLeave] class="d-flex justify-content-end pb-3">
          <button type="button" *ngIf="!formDetailsPayment.get('tax')" [@fadeInOnEnter] [@fadeOutOnLeave] class="mx-1"
            mat-raised-button color="accent" (click)="showOrHideFieldTaxOrShipping(true, 'tax')">Tax</button>
          <button type="button" *ngIf="!formDetailsPayment.get('shipment')" [@fadeInOnEnter] [@fadeOutOnLeave]
            class="mx-1" mat-raised-button color="accent"
            (click)="showOrHideFieldTaxOrShipping(true, 'shipment')">Shipping</button>
        </div>
        <div class="row">
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Total</mat-label>
            <input matInput formControlName="total">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-form-field class="col-md-6" appearance="fill">
            <mat-label>Cantidad pagada</mat-label>
            <input matInput formControlName="amountPaid">
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="formDetailsPayment.get('amountPaid')?.errors">
              <span *ngIf="formDetailsPayment.get('amountPaid')?.errors?.['required']">El campo es requerido</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Saldo adeudado</mat-label>
            <input matInput formControlName="balanceDue">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="row d-flex justify-content-end">
          <div class="col-md-4"><button type="button" class="w-100 my-1" mat-raised-button color="accent">VER
              FACTURAS</button></div>
          <div class="col-md-3"><button type="button" class="w-100 my-1" mat-raised-button
              color="secondary">CANCELAR</button></div>
          <div class="col-md-3"><button type="button" class="w-100 my-1" mat-raised-button
              color="primary">GUARDAR</button></div>
        </div>
      </div>
    </div>
  </form>
</section>