<section class="p-4 m-4 border rounded rounded-3" style="background-color: white;">
  <div [formGroup]="formInvoice">
    <div formArrayName="itemsInvoice">
      <div class="row" *ngFor="let item of itemsInvoice.controls; let i = index" [formGroupName]="i" [@fadeInOnEnter] [@fadeOutOnLeave]>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Productos</mat-label>
            <mat-select formControlName="product">
              <mat-option value="Producto 1">Producto 1</mat-option>
            </mat-select>
            <mat-error *ngIf="itemsInvoice.controls[i].get('product')?.errors">
              <span *ngIf="itemsInvoice.controls[i].get('product')?.errors?.['required']">El campo es requerido</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="quantity">
            <mat-error *ngIf="itemsInvoice.controls[i].get('quantity')?.errors">
              <span *ngIf="itemsInvoice.controls[i].get('quantity')?.errors?.['required']">El campo es requerido</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Costo</mat-label>
            <input readonly matInput formControlName="price">
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-md-4': i === 0, 'col-md-3': i > 0}">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Total</mat-label>
            <input readonly matInput formControlName="total">
          </mat-form-field>
        </div>
        <div *ngIf="i > 0" class="col-md-1 text-center">
          <button (click)="removeItemInvoice(i)" class="mt-2" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button (click)="addItemInvoice()" class="w-100" mat-raised-button color="accent">
            Agregar item
          </button>
        </div>
      </div>
    </div>
  </div>
</section>